<%= render partial: "post", locals: { post: @post } %>

<div class="comment-form">
    <h3>Add a Comment</h3>
    <% # render partial: "comments/form" %>
    <%= form_for([@post, @comment]) do |f| %>
        <div class="comment-field">
          <%= f.label "Comment: " %>
          <%= f.text_area :content %>
        </div>

        <%= f.submit "LET YOUR VOICE BE HEARD! YOU SO NEED TO BE HEARD!" %>
    <% end %>
</div>

<h2>Insightful Comments</h2>
<div class="comments">
    <% @post.comments.each do |comment| %>
        <div class="comment">
            <em>Written: <%= time_ago_in_words(comment.created_at) %> ago</em><br/>
            <%= simple_format(comment.content) %>
        </div>
    <% end %>
</div>
